.App {
  text-align: center;
}




table {
  width: 100%;
  margin: 20px auto;
  table-layout: auto;
}

.fixed {
  table-layout: fixed;
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: solid 1px;
  text-align: center;
  position: relative;
}

.w {
  width: 350px;
}

table td input {
  width: 100%;   
  border: 1px solid grey;
  padding: 0px;
  margin: 0px;
 }